@model User
   
@{
    Layout = "_Layout";    
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Logo goes here" class="avatar">
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome To Chantel's Passion for Pet's /*Maybe put a slogan here or something?*/</h1>
        <p>Fill out the Form Below to Sign Up!</p>


    </div>


    <h2>Create an Account</h2>
    <form asp-action="Create" method="post" class="m-2">
        <div asp-validation-summary="All">

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name: </label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name: </label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email: </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Password: </label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password: </label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <h3><a class="btn btn-primary" asp-action="Login">Already have an account? Click here to Login!</a></h3>





</body>
</html>